<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{title}}</title>
    <link type="text/css" href="/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">

        {{{body}}}

        <footer>
            <p class="text-sm text-center">Have to give credit to Raymond Camden for creating this great <a href="http://net.tutsplus.com/tutorials/javascript-ajax/introduction-to-express/">tutorial</a> that allowed me to create this site</p>
            <p class="helper-text text-sm text-center">
                Created by Al-jerreau Davids
            </p>
        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>